@import url('http://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
.homepage{
    background-color: #dfdfdf;
    font-family: 'Montserrat';
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.header .container {
    height: 130vh;
}

.header_container-image {
    display:flex;
    justify-content: center;
    align-items: center;
}
.header_container-image img{
    width: 1300px;
}

.container-1 {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 150px;
}


.aboutus_content-left{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.aboutus_content-left img{
    width: 600px;
}

.aboutus_content-right{
    margin: 0 180px 0 50px;
    text-align: center;
}
.aboutus_content-right h1{
    font-weight: 900;
    font-family: 'Akira Expanded', sans-serif;
}

.aboutus_content-right p{
    margin: 25px 50px;
}

.aboutus_content-right button{
    width: 230px;
    height: 70px;
}

.title{
    line-height: 12px;
}

.title h1{
    line-height: 20px;
}
h1{
    font-family: 'Akira Expanded', sans-serif;

}

.title p{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 21px;
}

