@import url('http://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
.homepage{
    background-color: #dfdfdf;
    font-family: 'Montserrat';
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.header .container .wrapper{
    height: 100vh;
}

.header_container-image {
    display:flex;
    justify-content: center;
    align-items: center;
}
.header_container-image img{
    width: 1300px;
}

.header{
    padding-bottom:20px;
}

.wrapper {
    padding-top: 20px;
 
}

.title{
    line-height: 12px;
}

.title h1{
    line-height: 20px;
}
h1{
    font-family: 'Akira Expanded', sans-serif;

}

.title p{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 21px;
}




